
.feat-news {
    height: 100%;
    flex-direction: column;
    max-width: 40.625rem;
    grid-column: 4 / span 6;
    grid-row-start: 1;
    padding: 0 1.5625rem;
    gap: 0;
}

.feat-news > hr{
    margin: 0.625rem 0;
}

.main-feat-poster {
    max-width: 40.0rem;
    max-height: 26.25rem;
    position: relative;
    margin-bottom: 1.5625rem;
}

.main-feat-img {
    object-fit: cover;
    border-radius: 0.3125rem;
    width: 100%;
    height: 100%;
} 

.cat-sticker {
    background-color: var(--clr-text-light);
    font-size: var(--fs-140);
    width: max-content;
}

.feat-sticker {
    position: absolute;
    bottom: 0.9375rem;
    left: 0.9375rem;
    padding: 0.1875rem 0.625rem;
    border-radius: 0.4375rem;
}

.feat-item {
    width: 50%;
    display: inline-block;
}

.feat-item:first-of-type {
    padding-right: 0.4375rem;
}

.feat-item:last-of-type {
    padding-left: 0.4375rem;
}

.feat-item > a {
    color: var(--clr-text-main);
    text-decoration: none;
}

.main-feat-headline {
    font-size: var(--fs-240);
    font-family: var(--ff-main-bold);
    display: block;
    margin-bottom: 0.3125rem;
}

.choice-feat-container > ul {
    flex-direction: row;
}

.feat-list {
    flex-direction: column;
    gap: 0.625rem;
}

.feat-list-items > a > *,
.cat-sticker {
    margin-bottom: 0.125rem;
}

.feat-list-items > a > h3 {
    font-size: var(--fs-160);
    font-weight: 500;
    color: var(--clr-text-main);
    display: block;
}

.feat-times > a > span {
    font-size: var(--fs-140);
    margin-right: 0.3125rem;
}

.feat-news footer {
    margin-top: auto;
}

.feat-news > footer {
    height: 1.875rem;
}

@media (max-width: 73.75rem) {

    .feat-news {
        grid-column: 4 / span 5;
        grid-row: 1 / span 1;
        max-width: 43.875rem;
    }

    .feat-list {
        margin-bottom: 0.67rem;
    }

    
}

@media (max-width: 66.25rem) {

    .choice-feat-container ul > *:not( .main-feat-info ) {
        display: none;
    }

    .choice-feat-container ul {
        display: block;
    }

    .feat-item {
        width: 100%;
    }

    .main-feat-headline.active-feat {
        font-weight: var(--fw-001)
    }

    .feat-news footer {
        margin-top: 1rem;
    }

}

@media (max-width: 60.375rem) {

    .feat-news {
        height: 90%;
    }

    .feat-news footer {
        margin-top: auto;
    }

}

@media (max-width: 46.875rem) {

    .feat-news {
        padding: 0;
        margin-bottom: 2.553rem;
    }

    .main-feat-poster {
        max-width: 100%;
        max-height: none;
    }

    .feat-list > hr:last-of-type {
        display: none;
    }

}