
@import url(https://db.onlinewebfonts.com/c/9e06e3bdc9b18dc3e5b2a21e559020b8?family=Canela-Black);
@import url(https://db.onlinewebfonts.com/c/53c0b5ca4d4f261f0b4bacba005484ef?family=F12+Akzidenz+Grotesk%2A%2A+Roman+05003);
@import url(https://db.onlinewebfonts.com/c/c4c64940fb49e72ab35c05815aeef673?family=Akzidenz-Grotesk+%28R%29+Schulbuch+Regular);
@import url(https://db.onlinewebfonts.com/c/f28c3627352d7f508b8c097b04f300c5?family=Spectral+Bold);
@import url(https://db.onlinewebfonts.com/c/66a272b6eda3e59b685a1bd2e0c33339?family=Akzidenz-Grotesk+%28R%29+Schulbuch+Medium);

:root {

    --clr-text-main: black;
    --clr-text-light: white;
    --clr-text-inactive: grey;
    --clr-text-accent: #DD406D;
    --clr-gradient-001: linear-gradient(to right, #dd406d, #745fde);
    --clr-gradient-fade: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    --clr-hr-light: #e5e7eb;
    --clr-hr-dull: #bbbbbb;
    --clr-hover-001: #0000001a;

    --ff-primary: 'Akzidenz-Grotesk (R) Schulbuch Regular', 'F12 Akzidenz Grotesk** Roman 05003', sans-serif;
    --ff-main-head: 'Canela-Black', 'Spectral Bold', sans-serif;
    --ff-main-bold: 'Akzidenz-Grotesk (R) Schulbuch Medium', 'Akzidenz-Grotesk (R) Schulbuch Regular', sans-serif;

    --fw-001: 600;

    --fs-120: .75rem;
    --fs-140: .875rem;
    --fs-150: 0.9375rem;
    --fs-160: 1rem;
    --fs-180: 1.125rem;
    --fs-200: 1.25rem;
    --fs-220: 1.375rem;
    --fs-240: 1.5rem;

    --transtion-header: ease-in-out 1s
}


/* -------Reset------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  color: var(--clr-text-main);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

p {
  font-size: var(--fs-200);
}

a {
    text-decoration: none;
    color: inherit;
}

/* ----- Utility ----- */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

 /* Sticky Header */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.sticky + .crypto-carousel-container {
    margin-top: 8.125rem;
}

.big-sticky .logo {
    top: -3.75rem;
}

 /* Transitions  */

.ease {
    transition: all .3s;
}

.to-ease {
    opacity: 0;
    transition-delay: .5s ;
    transition: opacity 500ms;
}

.to-ease.hard-ease {
    opacity: 1;
}

/* Content Properties */

.inactive-feat {
    color: var(--clr-text-inactive);
}

.active-feat {
    color: var(--clr-text-main);
}


.breaking > h5::before {
    content: '';
    background-image: url(Assets/decryt-mark.svg);
    background-size: cover;
    position: relative;
    display: inline-block;
    height: 0.75rem;
    width: 0.625rem;
    margin-right: 0.4375rem;
    vertical-align: -4%;
}

.bulletin > h5::before {
    content: '•';
    color: var(--clr-text-accent);
    margin-right: 0.4375rem;
    font-size: var(--fs-220);
    float: left;
    margin-top: -0.25rem;
    margin: -0.25rem 0.5625rem 0 0.0625rem;
}

.bulletin > h5 {
    overflow-y: hidden;
    height: 0.9375rem;
}

.bulletin > a > p {
    border-left: 0.0625rem solid var(--clr-hr-dull);
}

 /* Carousel */

strong {
    font-weight: var(--fw-001);
}

.red {
    color: red;
}

.green {
    color: green;
}

.pink {
    color: var(--clr-text-accent);
}

/* ------- header ------- */

.body-header {
    width: 100%;
    margin-bottom: 0.125rem;
    background-color: var(--clr-text-light);
    opacity: 98%;
    z-index: 999;
    transform: translateY(-3.125rem)
}

.header-main {
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding-top: 3.75rem;
}

hr {
    margin-top: 0.625rem;
    background-color: var(--clr-hr-light);
    border: none;
    height: 0.0625rem;
    width: 100%;
}

.header-wrapper {
    max-width: 90.0rem;
    padding: 0.9375rem 3.75rem 0.625rem;
    margin: auto;
}

.header-wrapper > div {
    width: 100%;
    height: 5.875rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
    
}

.header-left, .herder-center, .header-right {
    height: 100%;
}

.bi-search:hover {
    cursor: pointer;
}

.header-left > a > img{
    height: 1.6875rem;
}

.header-left {
    font-size: 1.875rem;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
}

.header-center {
    margin-right: -8.4375rem;
    /* transform: translateY(3.125rem); */
}
.header-right {
    gap: 1.25rem;
    align-items: center;
}

.header-right > button, .lang-select > select {
    border: transparent;
    border-radius: 0.3125rem;
}

.header-right > button {
    padding: 0.125rem 0.75rem;
    height: 2.5rem;
    background-color: var(--clr-text-main);
    color: var(--clr-text-light);
}

.header-right > button:hover {
    cursor: pointer;
}

.header-right > button:last-of-type {
    display: none;
}

.lang-select > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.125rem 0.625rem;   
    width: 5.625rem;
    height: 1.875rem;
}

.lang-select > select:hover {
    background-color: var(--clr-hover-001);
    cursor: pointer;
}

.header-right > select::-ms-expand {
    display: none;
}

.lang-select {
    position: relative;
    height: max-content;
    width: max-content;
}

.lang-select::after {
    content: '\F229';
    font-family: 'Bootstrap-icons', normal;
    color: var(--clr-text-main);
    position: absolute;
    bottom: 0.3125rem;
    right: 0.4375rem;
}

.logo-sub-1180 {
    display: none;
}

#logo-container {
    top: 0;
    visibility: hidden;
}

.logo {
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-props {
    align-items: center;
    justify-content: space-between;
    max-width: 13.6875rem;
}

.logo-props :first-child {
    max-width: 29%;
}

.logo-props :last-child {
    width: 100%;
    max-width: 64%;
    height: auto;
}

.header-center > nav {
    width: 31.25rem;
    justify-content: space-between;
}

.header-center > nav > a {
    color: var(--clr-text-main);
    text-decoration: none;
    font-family: var(--ff-primary);
    font-size: var(--fs-120);
    transition: ease-in 0.1s;
}

.header-center > nav > a:hover {
    color: var(--clr-text-accent);
}

/* ------ Carousel ------ */

.crypto-carousel-container {
    width: 100%;
    max-width: 118.9375rem;
    height: 2.9375rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.crypto-carousel-container > hr {
    position: absolute;
    bottom: 0;
}

.crypto-carousel {
    width: calc(15.625rem * 20);
    height: max-content;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-15.625rem * 10))
    }
}

.slide {
    width: 15.625rem;
    height: 100%;
}

.slide > span {
    font-size: var(--fs-140);
    text-align: center;
    gap: 0.4375rem;
    justify-content: center
}


/* ------ Ad Banner ------ */

.ad-container {
    margin: 1.875rem 0;
    overflow-x: hidden;
}

.ad-container > img {
    margin: 0 auto;
    height: auto;
    width: min(45.5rem, 80%);

}

/* ----------- Website Body ----------- */

/* ---------------------------------------------  */

main {
    width: 100%;
}

article.landing-sec {
    max-width: 90.0rem;
    padding: 0 3.75rem;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
    height: fit-content;
}

.new {
    height: 6.25rem;
}

li {
    list-style-type: none;
}

.to-page-button {
    font-size: var(--fs-160);
    font-weight: 600;
    text-decoration: none;
    color: var(--clr-text-main);
    width: 100%;
}

h4 {
    width: max-content;
    margin: 0 auto;
}

/* Shared Column Styles */

.news-explorer-column, .hubs-column {
    max-width: 19.6875rem;
}

.news-explorer-column, .feat-news, .hubs-column {
    height: 100%;
    flex-direction: column;
    grid-row-start: 1;
    gap: 0;
}

.news-explorer-header, .hubs-column-header {
    height: max-content;
}

.news-explorer-header > h3,
.hubs-header > h3 {
    font-family: var(--ff-main-head);
    font-size: var(--fs-180);
    display: block;
    margin-bottom: 0.3125rem;
}

.news-explorer-header > p,
.hubs-header > p {
    font-family: var(--ff-primary);
    font-size: var(--fs-160);
    display: block;
}

/* :is(.news-explorer-column, .feat-news, .hubs-column) > footer {
    margin-top: auto;
} */

:is(.news-explorer-column, .feat-news) > footer {
    height: 1.875rem;
}

/* News Explorer */

.news-explorer-column {
    grid-column: 1 / span 3;
    justify-content: space-between;
}

.news-explorer-feed {
    margin-top: -1.5625rem;
    height: 43.75rem;
    overflow: auto;
}

.nwsx-headline-list {
    flex-direction: column;
    gap: 0.9375rem;
    padding: 0 0.375rem;
    transform: translateX(-2%);
}

.nwsx-item > h5 {
    font-size: var(--fs-140);
    width: 9.375rem;
    background-image: var(--clr-gradient-001);
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.nwsx-item > a > p {
    font-size: var(--fs-150);
    margin-top: 0.125rem;
    padding: 0.1875rem 0 0.1875rem 0.75rem;
    margin-left: 0.25rem;
    max-width: 95%;
}

 /* Feteaured News */


.feat-news {
    max-width: 40.625rem;
    grid-column: 4 / span 6;
    grid-row-start: 1;
    padding: 0 1.5625rem;
}

.feat-news > hr{
    margin: 0.625rem 0;
}

.main-feat-poster {
    max-width: 40.0rem;
    max-height: 26.25rem;
    position: relative;
    margin-bottom: 1.5625rem;
}

.main-feat-img {
    object-fit: cover;
    border-radius: 0.3125rem;
    width: 100%;
    height: 100%;
} 

.cat-sticker {
    background-color: var(--clr-text-light);
    font-size: var(--fs-140);
    width: max-content;
}

.feat-sticker {
    position: absolute;
    bottom: 0.9375rem;
    left: 0.9375rem;
    padding: 0.1875rem 0.625rem;
    border-radius: 0.4375rem;
}

.feat-item {
    width: 50%;
    display: inline-block;
}

.feat-item:first-of-type {
    padding-right: 0.4375rem;
}

.feat-item:last-of-type {
    padding-left: 0.4375rem;
}

.feat-item > a {
    color: var(--clr-text-main);
    text-decoration: none;
}

.main-feat-headline {
    font-size: var(--fs-240);
    font-family: var(--ff-main-bold);
    display: block;
    margin-bottom: 0.3125rem;
}

.choice-feat-container > ul {
    flex-direction: row;
}

.feat-list {
    flex-direction: column;
    gap: 0.625rem;
}

.feat-list-items > a > *,
.cat-sticker {
    margin-bottom: 0.125rem;
}

.feat-list-items > a > h3 {
    font-size: var(--fs-200);
    font-weight: 500;
    color: var(--clr-text-main);
    display: block;
}

.feat-times > a > span {
    font-size: var(--fs-140);
    margin-right: 0.3125rem;
}

.feat-news footer {
    margin-top: auto;
}

 /* ---------------------------------------------------------------------------- HUBS COLUMN */

.hubs-column {
    grid-column: 10 / span 3;
}

.hubs-column > footer > hr {
    margin-top: 1.8125rem
}

.hubs-cards-list {
    margin-top: 0.9375rem
}

.hubs-cards-list > li {
    width: 100%;
    border-radius: 0.9375rem;
    overflow: hidden;
    -webkit-box-shadow: 0.0rem 0.0625rem 0.5rem -0.0625rem rgba(0,0,0,0.26);
    -moz-box-shadow: 0.0rem 0.0625rem 0.5rem -0.0625rem rgba(0,0,0,0.26);
    box-shadow: 0.0rem 0.0625rem 0.5rem -0.0625rem rgba(0,0,0,0.26);
}

.hubs-list-item {
    width: 100%;
    margin-bottom: 1.5625rem;
}

.hubs-list-item > a {
    text-decoration: none;
    color: var(--clr-text-main);
}

.hub-card {
    flex-direction: column;
}

.card-info {
    flex-direction: column;
    gap: 0.3125rem;
}

.hub-card > img {
    height: 10.0rem;
    object-fit: cover;
}

.hub-card > hr {
    width: 90%;
    margin: 0 auto;
}

.card-info {
    padding: 1.0rem 1.25rem 2.0rem;
}

.hub-title {
    font-size: var(--fs-160);
    font-family: var(--ff-primary);
}

.hub-midsection > h2 {
    color: var(--clr-text-main);
    font-size: var(--fs-180);
    font-family: var(--ff-main-bold);
    max-width: 15.0rem;
}

.hub-midsection > svg {
    height: 1.25rem;
    min-width: 1.25rem;
    max-width: 1.3125rem;
    margin-left: 0.625rem;
    margin-top: 0.0625rem;
}

.to-hub-cta {
    font-family: var(--ff-main-bold);
    font-size: var(--fs-160);
    color: var(--clr-text-accent);
    gap: 0.625rem;
    margin-top: 0.3125rem;
}

.card-info > h4 {
    margin: 0.625rem 0;
}

.stat-badges,
.stat-claimed {
    flex-direction: column;
}

.stat-badges {
    margin-right: 3.125rem
}

.stat-badges > *,
.stat-claimed > * {
    font-family: var(--ff-main-bold);
    font-size: var(--fs-140);
}

.stat-badges :first-child,
.stat-claimed :first-child {
    color: var(--clr-text-inactive);
}

.stat-badges :last-child,
.stat-claimed :last-child {
    color: var(--clr-text-main);
}


 /* --------- Width: 73.75rem --------- */

@media (max-width: 73.75rem) {

    /* ----- Header ----- */

    .header-center {
        margin-right: 0;
    }

    .header-center nav {
        display: none;
        visibility: hidden;
    }

    .logo {
        display: none;
    }

    .logo-sub-1180 {
        width: 6.0rem;
        transform: translateX( -25% );
        display: inline-flex;
    }

    #small-logo {
        display: none;
    }

    .lang-select{
        display: none;
    }

    .header-right > button:first-of-type {
        display: none;
    }

    .header-right > button:last-of-type {
        display: inline-block;
    }

    /* ---------- CAROUSEL ---------- */


    .sticky + .crypto-carousel-container {
        margin-top: 5.0rem;
    }


    /* ---------- LANDING SECTION ---------- */

    article.landing-sec {
        grid-template-columns: repeat(8, 1fr);
        padding: 0 2.3rem;
    }

    /* ------------------------- NEWS EXPLORER SECTION */

    .news-explorer-column {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        max-width: none;
        gap: 0.4rem;
    }

    /* ------------------------- FEATURED SECTION */

    .feat-news {
        grid-column: 4 / span 5;
        grid-row: 1 / span 1;
        max-width: 43.875rem;
    }

    .feat-list {
        margin-bottom: 0.67rem;
    }

    /* ------------------------- HUBS SECTION */

    .hubs-column {
        max-width: 100%;
        height: fit-content;
        grid-column: span 8;
        grid-row: 2 / span 1;
        max-height: fit-content;
        align-items: center;
        gap: 1.56rem;
        margin-top: 2.76rem;
    }

    .hubs-cards-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.76rem;
    }

    .hubs-header {
        text-align: center;
    }

    .hubs-column footer {
        width: 100%;
    }

    .ad-contianer.banner-002 {
        margin: 6.7rem 0;
    }

    .ad-container > img {
        height: auto;
        width: min( 25rem, 50% )
    }
    
}