
@import url(https://db.onlinewebfonts.com/c/9e06e3bdc9b18dc3e5b2a21e559020b8?family=Canela-Black);
@import url(https://db.onlinewebfonts.com/c/53c0b5ca4d4f261f0b4bacba005484ef?family=F12+Akzidenz+Grotesk%2A%2A+Roman+05003);
@import url(https://db.onlinewebfonts.com/c/c4c64940fb49e72ab35c05815aeef673?family=Akzidenz-Grotesk+%28R%29+Schulbuch+Regular);
@import url(https://db.onlinewebfonts.com/c/f28c3627352d7f508b8c097b04f300c5?family=Spectral+Bold);
@import url(https://db.onlinewebfonts.com/c/66a272b6eda3e59b685a1bd2e0c33339?family=Akzidenz-Grotesk+%28R%29+Schulbuch+Medium);

:root {

    --clr-text-main: black;
    --clr-text-light: white;
    --clr-text-inactive: grey;
    --clr-text-accent: #DD406D;
    --clr-gradient-001: linear-gradient(to right, #dd406d, #745fde);
    --clr-gradient-fade: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    --clr-hr-light: #e5e7eb;
    --clr-hr-dull: #bbbbbb;
    --clr-hover-001: #0000001a;

    --ff-primary: 'Akzidenz-Grotesk (R) Schulbuch Regular', 'F12 Akzidenz Grotesk** Roman 05003', sans-serif;
    --ff-main-head: 'Canela-Black', 'Spectral Bold', sans-serif;
    --ff-main-bold: 'Akzidenz-Grotesk (R) Schulbuch Medium', 'Akzidenz-Grotesk (R) Schulbuch Regular', sans-serif;

    --fw-001: 600;
    --fw-bold: 800;

    --fs-120: .75rem;
    --fs-140: .875rem;
    --fs-150: 0.9375rem;
    --fs-160: 1rem;
    --fs-180: 1.125rem;
    --fs-200: 1.25rem;
    --fs-220: 1.375rem;
    --fs-240: 1.5rem;

    --transtion-header: ease-in-out 1s
}


/* -------Reset------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  color: var(--clr-text-main);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

p {
  font-size: var(--fs-200);
}

a {
    text-decoration: none;
    color: inherit;
}

/* ----- Utility ----- */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

 /* Sticky Header */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.sticky + .crypto-carousel-container {
    margin-top: 8.125rem;
}

.big-sticky .logo {
    top: -3.75rem;
}

 /* Transitions  */

.ease {
    transition: all .3s;
}

.to-ease {
    opacity: 0;
    transition-delay: .5s ;
    transition: opacity 500ms;
}

.to-ease.hard-ease {
    opacity: 1;
}

/* Content Properties */

.inactive-feat {
    color: var(--clr-text-inactive);
}

.active-feat {
    color: var(--clr-text-main);
}


.breaking > h5::before {
    content: '';
    background-image: url(Assets/decryt-mark.svg);
    background-size: cover;
    position: relative;
    display: inline-block;
    height: 0.75rem;
    width: 0.625rem;
    margin-right: 0.4375rem;
    vertical-align: -4%;
}

.bulletin > h5::before {
    content: '•';
    color: var(--clr-text-accent);
    margin-right: 0.4375rem;
    font-size: var(--fs-220);
    float: left;
    margin-top: -0.25rem;
    margin: -0.25rem 0.5625rem 0 0.0625rem;
}

.bulletin > h5 {
    overflow-y: hidden;
    height: 0.9375rem;
}

.bulletin > a > p {
    border-left: 0.0625rem solid var(--clr-hr-dull);
}

 /* Carousel */

strong {
    font-weight: var(--fw-001);
}

.red {
    color: red;
}

.green {
    color: green;
}

.pink {
    color: var(--clr-text-accent);
}



/* ------ Carousel ------ */

.crypto-carousel-container {
    width: 100%;
    max-width: 118.9375rem;
    height: 2.9375rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.crypto-carousel-container > hr {
    position: absolute;
    bottom: 0;
}

.crypto-carousel {
    width: calc(15.625rem * 20);
    height: max-content;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-15.625rem * 10))
    }
}

.slide {
    width: 15.625rem;
    height: 100%;
}

.slide > span {
    font-size: var(--fs-140);
    text-align: center;
    gap: 0.4375rem;
    justify-content: center
}


/* ------ Ad Banner ------ */

.ad-container {
    margin: 1.875rem 0;
    overflow-x: hidden;
}

.ad-container > img {
    margin: 0 auto;
    height: auto;
    width: min(45.5rem, 80%);

}

/* ----------- Website Body ----------- */


main {
    width: 100%;
}

article.landing-sec {
    max-width: 90.0rem;
    padding: 0 3.75rem;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
    height: fit-content;
}

.new {
    height: 6.25rem;
}

li {
    list-style-type: none;
}

.to-page-button {
    font-size: var(--fs-160);
    font-weight: 600;
    text-decoration: none;
    color: var(--clr-text-main);
    width: 100%;
}

h4 {
    width: max-content;
    margin: 0 auto;
}

 /* --------- Width: 73.75rem --------- */

@media (max-width: 73.75rem) {

    /* ---------- CAROUSEL ---------- */

    .sticky + .crypto-carousel-container {
        margin-top: 5.0rem;
    }

    /* ---------- LANDING SECTION ---------- */

    article.landing-sec {
        grid-template-columns: repeat(8, 1fr);
        padding: 0 2.3rem;
    }

    .ad-contianer.banner-002 {
        margin: 6.7rem 0;
    }

    .ad-container > img {
        height: auto;
        width: min( 25rem, 50% )
    }
    
}

@media (max-width: 46.875rem) {

    article.landing-sec {
        display: flex;
        flex-direction: column;
        padding: 0 1.634rem;
    }

    .to-page-button > * {
    margin: 0 2rem 0 auto;
    }

}